<form name="search" method="get" action="/quizes">
	<input type="text" name="search" />
	<input type="submit" value="buscar" />
</form>


<table>
  <% var i, title;

  for (i=0; i < quizes.length; i++) {
    if(!title || title !== quizes[i].tematica){
        title = quizes[i].tematica;
      %>
      <tr>
        <td colspan="2"><h3><%= title %></h3></td>
      </tr>
    <%}%>
    <tr>
      <td><a href="/quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
      <% if (session.user) { %>
        <td><a href="quizes/<%= quizes[i].id %>/edit"><button>Editar</button></a></td>
        <td>
          <form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
              <button type="submit" onclick="return confirm('Borrar: <%=quizes[i].pregunta%>');">Borrar</button>
          </form>
        </td>
      <% } %>
    </tr> 
  <%} %>
</table>
<% if (session.user) { %>
  <p>
    <a href="/quizes/new"><button type="button">Crear pregunta</button></a>
  </p>
<% } %>
