<form method="get" action="/quizes/<%= quiz.id %>/answer">
	Pregunta: <%= quiz.pregunta %>
	<input type="text" name="respuesta" value="Responda aquí" />
	<input type="submit" value="Enviar" />
</form>

<p>
	<a href="/quizes/<%= quiz.id %>/comments/new"><button>Nuevo comentario</button></a>
</p>

<p><b>Comentarios:</b></p>
<%
var i=0;
while(i < quiz.comments.length){%>
	<%if(quiz.comments[i].publicado || session.user){%>
		<p>- <%=quiz.comments[i].texto%>
			<%if(!quiz.comments[i].publicado && session.user){%>
				<a href="/quizes/<%= quiz.id %>/comments/<%=quiz.comments[i].id%>/publish"><button>Publicar</button></a></p>
			<%}%>
	<%}%>
<% i++;
}%>